*{
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(../photo-1589998059171-988d887df646.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    color:antiquewhite
}